# Data Structures

In computer science, a data structure is a data organization, management, and storage format that enables efficient access and modification. More precisely, a data structure is a collection of data values, the relationships among them, and the functions or operations that can be applied to the data.

There are basically four type of data structure in Python i.e. ***List, Tuple, Dictionary and Set***.

We will go through these one by one.

## Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list. 

List can be written as a list of comma-separated values (items) between square brackets.

Important thing about a list is that items in a list need not be of the same type.

In [121]:
fruitlist = ['apple', 'mango', 'carrot', 'banana'] #creating list

In [122]:
print(fruitlist) #printing List

['apple', 'mango', 'carrot', 'banana']

In [123]:
Subject_and_year_list = ['physics', 'chemistry', 1997, 2000]

In [124]:
Subject_and_year_list

['physics', 'chemistry', 1997, 2000]

### Accessing Values in Lists

For selecting any value we use the square brackets for slicing along with the index or indices to obtain value available at that index

#### Selecting only 1 value 

list_name \[ index ]

In [125]:
print("fruitlist[0]: ", fruitlist[0])

fruitlist[0]:  apple

#### Selecting multiple value 

list_name \[ Start_index : End_index-1 ]

i.e. from index 1 to 3, it starts from index 1 and end at last range-1

In [126]:
print("Subject_and_year_list[1:5]: ", Subject_and_year_list[1:3])

Subject_and_year_list[1:5]:  ['chemistry', 1997]

### Updating Lists

You can update single or multiple values in list 

#### Updating single value 

listname \[ index ] = new value

In [127]:
Subject_and_year_list #given list

['physics', 'chemistry', 1997, 2000]

In [128]:
Subject_and_year_list[2] = "maths" #chnaging 2nd index of list

In [129]:
Subject_and_year_list #after update

['physics', 'chemistry', 'maths', 2000]

#### Updating Multiple values in list 

list_name \[ Start_index : End_index-1 ] = new list

In [130]:
fruitlist

['apple', 'mango', 'carrot', 'banana']

In [131]:
fruitlist[1:3] = ["carrot","mango"] #changing index 1 and 2 with new list

In [132]:
fruitlist #after change

['apple', 'carrot', 'mango', 'banana']

In [133]:
fruitlist[1:3] = ["orange"] #changing index 1 and 2 with new list

In [134]:
fruitlist #after change

['apple', 'orange', 'banana']

### Delete List Elements

we can delete list element by index and also by value 

For deleting element by index we use **del**

In [135]:
del fruitlist[1] #deleting element at index 1

In [136]:
fruitlist  #after update

['apple', 'banana']

For deleting elements by element itself we use **remove( )**

In [137]:
Subject_and_year_list #list before removing

['physics', 'chemistry', 'maths', 2000]

In [138]:
Subject_and_year_list.remove(2000) #removing element i.e 2000 in list

In [139]:
Subject_and_year_list #after removing

['physics', 'chemistry', 'maths']

### Basic List Operations

If we multiply any list with any number it repeats all the elements in list

In [20]:
list1 = ["Hi",2] #new list

In [21]:
list1*3 #repeatation of list

['Hi', 2, 'Hi', 2, 'Hi', 2]

In [22]:
list2 = [3] #new list with one variable

In [23]:
list2*3 #repeatation of list

[3, 3, 3]

If we have to check whether an element in the list or not we simply use **in**

In [24]:
list3 = [1,2,3] #new list

In [25]:
2 in list3 #cheching if number 2 is in the list or not, it returns boolen value

True

If we have to merge or concatinate 2 list we simply use **+** operator

In [26]:
list4  = [1, 2, 3] #defining new list

In [27]:
list5 =  [4, 5, 6] #defining new list

In [28]:
list4 + list5 #concating 2 list

[1, 2, 3, 4, 5, 6]

If we have to find the length of a list we use **len( )**

In [29]:
list6 = [1,2,3,4] #new list

In [30]:
len(list6) #finding length of list

4

## Tuple
A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [31]:
tup1 = ('physics', 'chemistry', 1997, 2000) #new tuple
tup2 = (1, 2, 3, 4, 5 ) #new tuple
tup3 = "a", "b", "c", "d" #new tuple

In [32]:
print(tup1,tup2,tup3) #printing tuple

('physics', 'chemistry', 1997, 2000) (1, 2, 3, 4, 5) ('a', 'b', 'c', 'd')

### Accessing Values in Tuples
For selecting any value we use the square brackets for slicing along with the index or indices to obtain value available at that index

#### Selecting only 1 value 

tuple_name \[ index ]

In [33]:
tup1

('physics', 'chemistry', 1997, 2000)

In [34]:
tup1[2] #selecting element of tuple at index 2

1997

#### Selecting multiple value 

tuple_name \[ Start_index : End_index-1 ]

i.e. from index 1 to 3, it starts from index 1 and end at last range-1

In [35]:
tup3 #new tuple

('a', 'b', 'c', 'd')

In [36]:
tup3[1:3] #selecting new range of tuple

('b', 'c')

### Updating Tuples
Tuples are immutable which means you cannot update or change the values of tuple elements

### Delete Tuple Elements
Removing individual tuple elements is not possible.

But we can delete a comple tuple by using **del**

In [38]:
tup3 #new tuple

('a', 'b', 'c', 'd')

In [40]:
del tup3 #del is a keyword deleting tuple

In [41]:
tup3 #tuple is deleted

NameError: name 'tup3' is not defined

### Basic Tuples Operations

If we multiply any tuple with any number it repeats all the elements in tuple

In [59]:
tup1 = ("Hi",2) #new tuple

In [60]:
tup1*3 #repeatation of tuple

('Hi', 2, 'Hi', 2, 'Hi', 2)

In [63]:
tup2 = (3,2) #new tuple

In [65]:
tup2*3 #repeatation of tuple

(3, 2, 3, 2, 3, 2)

In [78]:
(5)*2 # this is mathematics problem it means 5 * 2

10

In [79]:
(5,)*2 # this is tuple

(5, 5)

If we have to check whether an element in the tuple or not we simply use **in**

In [66]:
tup3 = (1,2,3) #new tuple

In [67]:
2 in tup3 #cheching if number 2 is in the tuple or not, it returns boolen value

True

If we have to merge or concatinate 2 tuple we simply use **+** operator

In [69]:
tup4  = (1, 2, 3) #new tuple

In [70]:
tup5 =  (4, 5, 6) #new tuple

In [71]:
tup4 + tup5 #concating new tuple

(1, 2, 3, 4, 5, 6)

If we have to find the length of a tuple we use **len( )**

In [72]:
tup6 = (1,2,3,4) #new tuple

In [73]:
len(tup6) #finding length of the tuple

4

## Dictionary
In Dictionary each key is separated from its value by a colon ( : ), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: { }.

In [80]:
marks_dict = {"maths":34,"chemistry":36,"physics":32} #initilising Dictinory {Key:Value}

In [81]:
print(marks_dict) #printing dict

{'maths': 34, 'chemistry': 36, 'physics': 32}

### Accessing Values in Dictionary

To access dictionary elements, you can use the familiar square brackets along with the key to obtain its value.

In [89]:
dict_student_detail = {'Name': 'Sagar', 'Age': 7, 'Class': 'First'} #new dict

In [90]:
print ("dict_student_detail['Name']: ", dict_student_detail['Name']) #printing single key walue

dict_student_detail['Name']:  Sagar

In [91]:
print ("dict_student_detail['Age']: ", dict_student_detail['Age']) #printing single key walue

dict_student_detail['Age']:  7

### Updating Dictionary

We can update a dictionary by adding a new entry or a key-value pair, modifying an existing entry, or deleting an existing entry

In [99]:
dict_student_detail = {'Name': 'Sagar', 'Age': 7, 'Class': 'First'} #new dict
dict_student_detail['Age'] = 8; # update existing entry

In [100]:
dict_student_detail #after updating

{'Name': 'Sagar', 'Age': 8, 'Class': 'First'}

In [101]:
dict_student_detail['School'] = "K.V."; # Add new entry

In [102]:
dict_student_detail #after adding

{'Name': 'Sagar', 'Age': 8, 'Class': 'First', 'School': 'K.V.'}

### Delete Dictionary Elements

we can either remove individual dictionary elements or clear the entire contents of a dictionary. You can also delete entire dictionary in a single operation.

**remove individual dictionary elements**

In [141]:
dict1 = {'Name': 'Neji', 'Age': 7, 'Class': 'First'} #new dict
del dict1['Name'] #deleting key with name "name"

In [142]:
dict1 #after deleting key

{'Age': 7, 'Class': 'First'}

**remove all entries in dict**

In [143]:
dict1.clear() #cleaning all data in dict

In [144]:
dict1 #after clearing all the data

{}

**delete entire dictionary**

In [107]:
del dict1 #deleting dict

In [108]:
dict1 #after deleting

NameError: name 'dict1' is not defined

### properties of Dictionary

In [109]:
anime = {'Name': 'Naruto', 'Age': 17, 'Class': 'Chunin'} #new dict

**keys of dict**

In [110]:
anime.keys() #dict keys

dict_keys(['Name', 'Age', 'Class'])

In [111]:
list(anime.keys()) #converting it into list

['Name', 'Age', 'Class']

**Values of Dict**

In [112]:
anime.values() #dict values

dict_values(['Naruto', 17, 'Chunin'])

In [113]:
list(anime.values())  #converting it into list

['Naruto', 17, 'Chunin']

**keys and values of Dict**

In [114]:
anime.items() #dict items

dict_items([('Name', 'Naruto'), ('Age', 17), ('Class', 'Chunin')])

In [115]:
list(anime.items())  #converting it into list

[('Name', 'Naruto'), ('Age', 17), ('Class', 'Chunin')]

### OrderedDict

Usually dictionary doesn't follow order but we can make dictionary that can follow the order

In [159]:
# import collections

# print ('Regular dictionary:')
# d = {}
# d['a'] = 'A'
# d['b'] = 'B'
# d['c'] = 'C'
# d['d'] = 'D'
# d['e'] = 'E'

# for k, v in d.items():
#     print (k, v)

In [161]:
import collections  #this lib has function OrderedDict that make dict in an order 
print ('\nOrderedDict:')
d = collections.OrderedDict() #defining order dict 
d['a'] = 'A' #assigning values
d['b'] = 'B'
d['c'] = 'C'
d['d'] = 'D'
d['e'] = 'E'

for k, v in d.items():
    print ("Keys: ",k,"  Values: ", v) #print keys and values

OrderedDict:
Keys:  a   Values:  A
Keys:  b   Values:  B
Keys:  c   Values:  C
Keys:  d   Values:  D
Keys:  e   Values:  E

## Sets
The sets in python are typically used for mathematical operations like union, intersection, difference and complement etc. We can create a set, access it’s elements and carry out these mathematical operations

### Creating a set
A set is created by using the **set( )** function or placing all the elements within a pair of curly braces.

In [163]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]) #making set
print(Days) #print set

{'Sun', 'Fri', 'Thu', 'Tue', 'Sat', 'Mon', 'Wed'}

In [166]:
Months={"Jan","Feb","Mar"} #defining set

In [169]:
print(Months)  #print(Months)

{'Feb', 'Jan', 'Mar'}

### Accessing Values in a Set
We cannot access individual values in a set. We can only access all the elements together as shown above. But we can also get a list of individual elements by looping through the set.

In [170]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
 
for d in Days:
    print(d)

Sun
Fri
Thu
Tue
Sat
Mon
Wed

### Adding Items to a Set
We can add elements to a set by using **add( )** method. Again as discussed there is no specific index attached to the newly added element.

In [172]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"]) #initilising set 
 
Days.add("Sun") #adding new value in set 
print(Days)

{'Sun', 'Fri', 'Thu', 'Tue', 'Sat', 'Mon', 'Wed'}

### Removing Item from a Set
We can remove elements from a set by using **discard( )** method. Again as discussed there is no specific index attached to the newly added element.

In [174]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"]) #initilising set 
 
Days.discard("Sun") #discarding "Sun"
print(Days)

{'Fri', 'Thu', 'Tue', 'Sat', 'Mon', 'Wed'}

### Union of Sets
The union operation on two sets produces a new set containing all the distinct elements from both the sets. In the below example the element “Wed” is present in both the sets.

In [175]:
DaysA = set(["Mon","Tue","Wed"]) #new set 1
DaysB = set(["Wed","Thu","Fri","Sat","Sun"]) #new set 2
AllDays = DaysA|DaysB #union of set
print(AllDays) #printing

{'Sun', 'Fri', 'Thu', 'Tue', 'Sat', 'Mon', 'Wed'}

### Intersection of Sets
The intersection operation on two sets produces a new set containing only the common elements from both the sets. In the below example the element “Wed” is present in both the sets.

In [177]:
DaysA = set(["Mon","Tue","Wed"]) #new set 1
DaysB = set(["Wed","Thu","Fri","Sat","Sun"]) #new set 2
AllDays = DaysA & DaysB #intersection 
print(AllDays) #printing

{'Wed'}

### Difference of Sets
The difference operation on two sets produces a new set containing only the elements from the first set and none from the second set. In the below example the element “Wed” is present in both the sets so it will not be found in the result set.

In [178]:
DaysA = set(["Mon","Tue","Wed"]) #new set 1
DaysB = set(["Wed","Thu","Fri","Sat","Sun"]) #new set 2
AllDays = DaysA - DaysB #difference 
print(AllDays) #printing

{'Tue', 'Mon'}

### Compare Sets
We can check if a given set is a subset or superset of another set. The result is True or False depending on the elements present in the sets.

In [180]:
DaysA = set(["Mon","Tue","Wed"]) #set 1
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]) #set 2
SubsetRes = DaysA <= DaysB #cheching subset 
print(SubsetRes) #printing result

True

In [182]:
SupersetRes = DaysB >= DaysA #cheching subset 
print(SupersetRes) #printing result

True

### Copy
- Shallow Copy
- Deep Copy

import copy<br/>
copy.copy(x)<br/>
copy.deepcopy(x)<br/>

In [45]:
old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = old_list

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [46]:
old_list.append([4, 4, 4])
print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [4, 4, 4]]
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [4, 4, 4]]

In [47]:
id(new_list)

4478205000

In [48]:
id(old_list)

4478205000

#### Shallow Copy

In [49]:
import copy

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = copy.copy(old_list)

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [50]:
old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

old_list.append([4, 4, 4])

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [51]:
old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

old_list[1][1] = 'AA'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 'AA', 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 'AA', 2], [3, 3, 3]]

In [52]:
id(old_list)

4478106376

In [53]:
id(new_list)

4478204104

In [54]:
id(old_list[1])

4478287560

In [55]:
id(new_list[1])

4478287560

#### Deep Copy

In [56]:
old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [57]:
old_list[1][0] = 'BB'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], ['BB', 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [58]:
id(old_list)

4478252296

In [59]:
id(new_list)

4478272904

In [60]:
id(old_list[1])

4478253640

In [61]:
id(new_list[1])

4478234120